  <!-- footer -->
  <footer>
    <div class="container">
      <label>Nous suivre</label>
      <input type="email" placeholder="Entrez votre adresse mail">
      </input>
      <button>OK</button>
      <span class="copyright">This is a project by <a href="http://www.autreplanete.com" target="blank">Autre Planète</a></span>
    </div>
  </footer>