  <div class="home">
    <div class="container">
      <div class="home-presentation">
      <h1>Autre planète<br> Latéral Slide Menu</h1>
      <p>Add custom maps to your apps and sites in minutes. Sign up for a free account and an API access token</p>  
      <button class="download1">Download</button>
      <span class="github"><a href="">Fork on Github</a></span>
      </div>
      <div class="home-demo">
        <div class="home-demo-bg">
          <iframe src="demo/theme-medium.html" scrolling="no"></iframe>
        </div>
      </div>
    </div> <!-- /.container -->
  </div>