  <!-- How to part -->
  <div class="how-to">
    <div class="container">
      <h2> How to use </h2>
      <p>Add custom maps to your apps and sites in minutes. Sign up for a free account and an API access token.</p>
      <span class="console">$(’.YourNav’).smartsticky();</span>
       <span class="console">bower install lateral-slide-menu</span>
    </div> <!-- /.container -->
  </div>