<!-- Themes part -->
  <div class="themes" id="themes">
    <div class="container">
      <div class="themes-presentation">
        <h2>Themes / Type animation</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis tempor sem. Vivamus venenatis tristique convallis. Aenean facilisis accumsan est congue consectetur.</p>
        <p>Nulla ullamcorper sem sit amet quam rhoncus ultricies. Pellentesque rhoncus arcu id neque semper bibendum. Nam facilisis velit ipsum, quis dapibus dolor pharetra vitae.</p>
        <p>Fusce vel tortor a justo pharetra elementum ut a erat. Cras faucibus neque diam, non dignissim nisi congue sed. Nulla laoreet urna in lectus consectetur pretium.</p>
      </div>
      <div class="themes-demo">
        <iframe src="demo/theme-android-tablet.html" scrolling="no"></iframe>
      </div>
      <div class="themes-selector">
        <ul>
          <li><img src="images/themes1.png">Medium like</li>
          <li><img src="images/themes2.png">Lollipop like</li>
          <li><img src="images/themes3.png">iOS Like</li>
          <li><img src="images/themes4.png">Autres like</li>  
        </ul>
      </div> 
    </div> <!-- /container -->
  </div>