  <!-- What part -->
  <div class="what">
    <div class="container">
      <div class="what-presentation">
        <h2>Quoi ?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis tempor sem. Vivamus venenatis tristique convallis. Aenean facilisis accumsan est congue consectetur. Nulla ullamcorper sem sit amet quam rhoncus ultricies. Pellentesque rhoncus arcu id neque semper bibendum.</p>
        <p>Nam facilisis velit ipsum, quis dapibus dolor pharetra vitae. Fusce vel tortor a justo pharetra elementum ut a erat. Cras faucibus neque diam, non dignissim nisi congue sed. Nulla laoreet urna in lectus consectetur pretium.</p>
        <button class="download2">Download</button>
      </div>
      <div class="what-demo">
          <iframe src="http://www.autreplanete.com" scrolling="no"></iframe>
      </div>
    </div> <!-- /.container -->
  </div>