@import "../lib/bootstrap/less/variables.less";
@import "../lib/bootstrap/less/mixins.less";

@CR1: #33333;
@CR4: red;
@CR2: blue;
@CM6: black;
@WHITE: #FFFFFF;
@CR6: green;

@import "lateral-slide-menu.less";
@import "blue-moon-style.less";