{{#extend "layout"}}

	{{#append "head"}}
		
	{{/append}}


	{{#replace "content"}}
		<p>hello world</p>
		
		{{>hero}}
		
		{{>what}}
		
		{{>themes}}
		
		{{>howto}}
		
		
	{{/replace}}
		
{{/extend}}
